*{
  margin: 0px;
  box-sizing: border-box;
}

.pdflist{
  width: 100%;
  height: auto;
  background-image: url(/public/images/stacked-steps-haikei.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;

}
.pdflist h1{
  font-family: monospace;
  margin: 20px 0;
  
}
.searchbart2{
  min-width:300px;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.searchbart2 input{
    width:80%;
    min-width: 300px;
    padding: 20px 30px;
    margin: auto;
    background-color: rgba(235, 240, 245, 0.297);
    backdrop-filter: blur(15px);
    border: solid 1px rgba(224, 232, 255, 0.629);
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.107);
    
}
.pdfcontainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pdfbox{
  min-width:300px;
  max-width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;


  margin: 10px;
  border: solid rgba(72, 57, 57, 0.707) 1px;
  border-radius: 50px;

  background-color: rgba(0, 0, 0, 0.226);
  backdrop-filter: blur(10px);

  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-duration: 1s;
}
.pdfbox h2{

}
.pdfbox a{
  text-decoration: none;
  color: white;
  font-family: Cambria;
  font-size: 20px;
}



/*CSS for Advanced-Level page*/
.cardlist{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 10px;
  background: linear-gradient(90deg, rgba(62, 51, 253, 1), rgba(51, 191, 255, 1));

}
.cardcontainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;

  overflow: hidden;
  margin: 30px 0;
}
.cardt1{
  min-width:300px;
  max-width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px;
}
.cardt1 img{
  min-width: 80%;
  max-width: 300px;
  border-radius: 100px;
  

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.112);
}
.cardt1 img:hover{
  transform: scale(105%);
  transition-duration: 1s;
}
#Subject-1stcard{
  min-width: 300px;
  max-width: 80%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;


}
#Subject-1stcard h2{
  font-family: monospace;
  text-align: center;
  font-size: 35px;
  color: white;
}