*{
    margin: 0;
}
body{
    position: relative;
}
.header{
    position: sticky;
    top: 20px;
    z-index: 10;

    width: 300px;
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(255, 255, 255, 0.171) solid 2px;
    border-radius: 50px;
    
    color: rgba(255, 255, 255, 0.878);
    background-color: rgba(255, 255, 255, 0.081);
    backdrop-filter: blur(10px);
}
.header h1{
    font-family: monospace;
}
.main-holder{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    width: 70%;
    height: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}
.card{
    max-width: 80%;
    min-width: 300px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;

    border: rgba(255, 255, 255, 0.171) solid 2px;
    border-radius: 50px;
    
    color: rgba(255, 255, 255, 0.878);
    background-color: rgba(255, 255, 255, 0.081);
    backdrop-filter: blur(10px);
}
@media (min-width: 768px) {
    .card,.card-middle {
      flex: 1 1 calc(33.333% - 1rem);
    }
  }
.card p{
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    margin: 10px 10px;
}
.card h2{
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    margin: 5px 0;
}
.card-middle{
    max-width: 80%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.card-middle h2{
    font-family: monospace;
    font-size: 25px;
    text-align: center;
}
.card-middle p{
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}
.subcard{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:baseline;
    margin: 5px;

}
.subcard img{
    width: 100%;
    border-radius: 50px;
}
.subcard-button{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    
    border-radius: 50px;
    
    color: rgba(255, 255, 255, 0.878);
    background: #4848cf;
    background: linear-gradient(90deg, rgba(72, 72, 207, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.subcard-button a{
    text-decoration: none;
    color: rgba(7, 22, 52, 0.878);
    font-family: monospace;
    font-size: 18px;
}

.card-bottom{
    max-width: 80%;
    min-width: 300px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;

    border: rgba(255, 255, 255, 0.171) solid 2px;
    border-radius: 50px;
    
    color: rgba(255, 255, 255, 0.878);
    background-color: rgba(255, 255, 255, 0.081);
    backdrop-filter: blur(10px);

    font-family: monospace;
}

.subject-selector{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.441);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    
    margin: 10px 0;
}
.subject{
    width: 100%;
    border: solid rgba(255, 255, 255, 0) 1px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.subject button{
    width: 80%;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.dropdown{
    width: 80%;
    height: auto;
    display: none;
    flex-direction: column;
    margin: 5px 10px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    border-radius: 20px;

    text-align: center;
    
}
.dropdown a{
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 5px 10px;
    border-bottom: rgba(102, 102, 102, 0.399) solid 1px;

}